# @max-sixty's standard set
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-format
      - id: ruff-check
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: ty check --ignore unresolved-import
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: ["ty"]
  - repo: https://github.com/keewis/blackdoc
    rev: v0.4.6
    hooks:
      - id: blackdoc
  # This doesn't seem to work from pre-commit.ci; which may not have internet access
  # - repo: https://github.com/ComPWA/mirrors-markdown-link-check
  #   rev: v3.8.7
  #   hooks:
  #     - id: markdown-link-check
  #       files: \.md$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: mixed-line-ending
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
