repos:
  - repo: https://github.com/PyCQA/isort
    rev: "5.8.0"
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: "21.5b1"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.2"
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
