[build-system]
requires = ["poetry-core>=1.0.2", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pytest-accept"
# Defined by poetry-dynamic-versioning
version = "0"
description = "A pytest-plugin for updating doctest outputs"
authors = ["max-sixty"]

[tool.poetry-dynamic-versioning]
enable = true
pattern = 'v?(?P<base>[\d\.]+)'
# PyPI doesn't like commits being in the version
# Copied from https://github.com/mtkennerly/poetry-dynamic-versioning
# format-jinja = "{% if distance == 0 %}{{ base }}{% else %}{{ base }}+{{ distance }}.{{ commit }}{% endif %}"
format-jinja = "{% if distance == 0 %}{{ base }}{% else %}{{ base }}.dev{{ distance }}{% endif %}"

# format = "{base}.{distance}"

[tool.poetry.plugins."pytest11"]
accept = "pytest_accept"

[tool.poetry.dependencies]
python = ">=3.7, <3.10"
pytest = "^6"

[tool.poetry.dev-dependencies]
astor = "^0.8.1"
# Keep versions of these four up to date with .pre-commit-config.yaml
black = "21.5b1"
flake8 = "3.9.2"
isort = "5.8.0"
mypy = "0.812"

[tool.isort]
profile = "black"
skip_gitignore = true
default_section = "THIRDPARTY"
known_first_party = ["pytest-accept"]

[tool.pytest.ini_options]
pytester_example_dir = "examples"
addopts = "--doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"