[tool.poetry]
name = "pytest-accept"
description = "A pytest-plugin for updating doctest outputs"
repository = "https://github.com/max-sixty/pytest-accept"
homepage = "https://github.com/max-sixty/pytest-accept"
readme = "README.md"
license = "Apache-2.0"
authors = ["Maximilian Roos <m@maxroos.com>"]
# Defined by poetry-dynamic-versioning
version = "0"

[tool.poetry-dynamic-versioning]
enable = true
pattern = 'v?(?P<base>[\d\.]+)'
# PyPI doesn't like commits being in the version
# Adjusted from https://github.com/mtkennerly/poetry-dynamic-versioning, no
# commit hash to make it compatible with test-pypi
format-jinja = "{% if distance == 0 %}{{ base }}{% else %}{{ base }}.dev{{ distance }}{% endif %}"

# format = "{base}.{distance}"

[tool.poetry.plugins."pytest11"]
accept = "pytest_accept"

[tool.poetry.dependencies]
python = ">=3.7, <3.10"
pytest = "^6"

[tool.poetry.dev-dependencies]
astor = "^0.8.1"
# Keep versions of these five up to date with .pre-commit-config.yaml
black = "^21.7b0"
flake8 = "3.9.2"
isort = "5.8.0"
mypy = "^0.910"
blackdoc = "0.3.3"
pre-commit = "^2.14.0"

[tool.isort]
profile = "black"
skip_gitignore = true
default_section = "THIRDPARTY"
known_first_party = ["pytest-accept"]

[tool.pytest.ini_options]
pytester_example_dir = "examples"
addopts = "--doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"
testpaths = [
    "pytest_accept"
]

[build-system]
requires = ["poetry-core>=1.0.2", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"
